body {
    margin: 50px;
    background: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background: #1F2937;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 5px;
    
}

.title {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0;
    
}

.title span {
    color: #4ADF86;
}

.legend {
    color: #D5D4D8;
}

.generate-btn{
    margin: 20px 0;
    background: #10B981;
    color: white;    
    border-radius: 5px;
    padding: 8px 10px;
    border: none;
    width: 200px;
}

.display{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #2F3E53;
}

.displayPassword {
    margin: 25px 0 0 0;
    border-radius: 2px;
    width: 200px;
    height: 20px;
    padding: 5px 10px;
    font-size: 15px;
    background: #273549;
    color: #4ADF86;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500
}

.parameters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.range-value {

    color:white;
    background:#273549;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px #10B981;
    margin-left: 10px;
}

.extras {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px #10B981;

}